@font-face {
    font-family: Jakarta;
    src: url(assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Jakarta;
}

body {
    background-color: rgb(232, 240, 255);
    overflow: hidden;
}

.overlay {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

main {
    position: relative;
    margin: 2vh auto;
    max-width: 500px;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}

h3 {
    padding-bottom: 0;
}

.value {
    color: white;
    background-color:navy;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    font-size: 16px;
    display: inline-block;
}

.dropdown {
    color: gray;
    text-align: right;
}

.dropbutton {
    color: gray;
    border: 1px solid gray;
    border-radius: 100%;
    background-color: transparent;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
}

.dropbutton:hover {
    cursor: pointer;
    color: navy;
    border-color: navy;
}

.dropcontent {
    display: none;
}

.hide:hover {
    color: navy;
}

.read:hover {
    color: navy;
}

.notification {
    padding: 10px;
    margin-bottom: 10px;
    color: #5a606b;
    border-radius: 10px;
    min-height: 50px;
    font-size: 15px;
    position: relative;
    z-index: 0;
}

.notification:hover{
    cursor: pointer;
}

.new {
    background-color: rgba(60, 124, 233, 0.075);
}

.avatar {
    height: 50px;
    width: auto;
    float: left;
    margin-right: 10px;
    padding-bottom: 10px;
}

.avatar:hover {
    cursor: pointer;
    transform:scale(1.1);
}

.name {
    font-weight: bold;
    color: black;
}

.name:hover {
    cursor: pointer;
    font-size: 16px;
}

.content {
    font-weight: bold;
}

.time {
    font-size: 12px;
    font-weight: bold;
    color: lightslategray;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}

.app {
    font-weight: bold;
    color:blue;
}

.app:hover {
    cursor: pointer;
    color: navy;
}

.old {
    background-color: rgba(136, 136, 136, 0.1);
}

.text {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
    margin-left: 60px;
}

.text:hover {
    cursor: pointer;
    background-color: rgba(60, 124, 233, 0.075);
    border: solid 1px rgba(60, 124, 233, 0.075);
}

.picture {
    float: right;
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.picture:hover {
    cursor: pointer;
    transform:scale(1.1);
}

* {
    transition: all 0.3s;
}