@font-face {
    font-family: Jakarta;
    src: url(assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Jakarta;
}

body {
    margin: 2vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}

.value {
    color: white;
    background-color:navy;
    border-radius: 7px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    font-size: 15px;
}

h5 {
    color: gray;
    cursor: pointer;
}

.notification {
    padding: 10px;
    margin-bottom: 10px;
    color: #5a606b;
    border-radius: 10px;
    min-height: 50px;
    font-size: 15px;
}

.new {
    background-color: rgba(60, 124, 233, 0.075);
}

.avatar {
    height: 50px;
    width: auto;
    float: left;
    margin-right: 10px;
}

.name {
    font-weight: bold;
    color: black;
}

.content {
    font-weight: bold;
}

.time {
    font-size: 12px;
    font-weight: bold;
    color: lightslategray;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}

.app {
    font-weight: bold;
    color:blue;
}

.old {
    background-color: none;
}

.text {
    border: 1px solid gray;
    padding: 15px;
    margin-top: 10px;
    margin-left: 60px;
}

.picture {
    float: right;
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

* {
    transition: all 0.2s;
}