@font-face {
    font-family: Jakarta;
    src: url(assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Jakarta;
}

body {
    margin: 2vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}

span#value {
    color: white;
    background-color:navy;
    border-radius: 7px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    font-size: 15px;
}

.new_notification {
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(78, 124, 202, 0.11);
    color: #5a606b;
    border-radius: 10px;
}

.avatar {
    height: 50px;
    width: auto;
    float: left;
    margin-right: 10px;
}

.name {
    font-weight: bold;
    color: black;
}

.content {
    font-weight: bold;
}

.time {
    font-size: 12px;
    font-weight: bold;
    color: gray;
}